/* Reset dei margini e dei padding per evitare spazi indesiderati */
body, h1, h2, table, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    color: #882c9e;
    margin: 20px 0;
}

button {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #5a6268;
}

form {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form h2 {
    color: #882c9e;
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="file"],
form input[type="submit"] {
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form input[type="file"] {
    display: block;
    margin: 10px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6c757d;
    color: #fff;
}

tr:hover {
    background-color: #f2f2f2;
}

td:last-child {
    text-align: center;
}

/* Colore del testo dei punti */
td:last-child {
    color: green;
}

td:last-child.color-red {
    color: red;
}

/* Formattazione tabella Premi */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6c757d;
    color: #fff;
}

tr:hover {
    background-color: #f2f2f2;
}

td:last-child {
    text-align: center;
}

/* Formattazione dati dell'utente */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

/* Formattazione dati Premium */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
